@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
@import 'tailwindcss';

:root {
	/* Colors */
	--clr-primary-1: hsl(22, 65%, 57%);
	--clr-primary-1-lt: hsl(21, 94%, 75%);
	--clr-primary-2: hsl(0, 0%, 6%);
	--clr-primary-4: hsl(0, 0%, 98%);
	--clr-primary-6: hsl(0, 0%, 20%);
	--clr-base: hsl(0, 0%, 95%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-grey-1: hsl(0, 0%, 50%);
	--clr-grey-2: hsl(0, 0%, 30%);
	--clr-grey-3: hsl(0, 0%, 81%);
	--clr-border: hsl(0, 0%, 10%);
	--clr-danger: hsl(0, 65%, 49%);
	--modal-background: 0 0 0 1000rem rgba(0, 0, 0, 0.4);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Manrope', sans-serif;
}
